/* For application.css */
a {
    color: #0066cc; /* Link color */
    text-decoration: none; /* Remove underline */
  }
  
  a:hover {
    text-decoration: underline; /* Underline on hover */
  }
  .custom-login-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .field {
    margin-bottom: 15px;
  }
  
  .actions {
    text-align: center;
  }
  
  .actions input[type="submit"] {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  